body {
    font-family: 'Inter', sans-serif;
}

.admin-sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    transition: transform 0.3s ease-in-out;
}

.mobile-burger {
    display: none;
    transition: transform 0.3s ease-in-out;
}
.mobile-burger .burger {
    width: 25px;
    height: 25px;
    background-image: url('../assets/img/burger-bar.png');
    background-size: cover;
    cursor: pointer;
    z-index: 2;
}

/* code for the burger active*/
.mobile-burger.active {
    transform: translateX(250px);
}

@media screen and (max-width: 450px) {
    .mobile-burger {
        display: block;
        position: fixed;
        top: 10px;
        left: 0;
        border-top-right-radius: .625rem;
        border-bottom-right-radius: .625rem;
        z-index: 1;
        background-color: rgba(17, 17, 17, 0.404);

    }
    .admin-sidebar, .admin-content {
        transform: translateX(-250px);
    }
    .admin-sidebar.active{
        transform: translateX(0px) !important;
        height: 100vh !important;
    }
    .admin-content:not(.active) {
        filter: blur(2px);
    }

    .admin-sidebar a {
        font-size: 180px;
    }

    .admin-logo h3 {
        font-size: 1.5rem;
    }

    .admin-content h2 {
        font-size: 1.5rem;
    }

    .admin-content th,
    td {
        padding: 5px;
    }
    .popup-content {
        width: 85vw !important;
        margin: auto !important;

    }
}

.admin-sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

.admin-sidebar img {
    width: 100px;
    margin: auto;
}

.admin-logo {
    text-align: center;
    margin-bottom: 20px;
}

.admin-logo h3 {
    color: white;
    font-weight: 900;
}

.admin-sidebar a:hover {
    color: #f1f1f1;
}

.admin-sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.admin-content {
    margin-left: 250px;
    padding: 20px;
}

.admin-content h2 {
    margin-bottom: 20px;
}

.admin-content table {
    width: 100%;
    border-collapse: collapse;
}

.admin-content th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

table td img {
    width: 50px;
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    z-index: 1;
}

.popup-content {
    background-color: #fefefe;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.popup-header {
    display: flex;
    justify-content: normal;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.popup-header * {
    margin: 1rem;
}
.popup-header img {
    width: 50px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.players {
    display: flex;
    flex-wrap: wrap;
}
.player {
    width: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player p:first-child {
    width: 200px;
}

.player::before{
    content: "";
    background-color: white;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-left: 200px;
    position: absolute;
}
.player:nth-child(1)::before {
    background-image: url('../assets/img/top_lane.png');
}
.player:nth-child(2)::before {
    background-image: url('../assets/img/jungle.png');
}
.player:nth-child(3)::before {
    background-image: url('../assets/img/middle_lane.png');
}
.player:nth-child(4)::before {
    background-image: url('../assets/img/bot_lane.png');
}
.player:nth-child(5)::before {
    background-image: url('../assets/img/support.png');
}